.btn-primary {
  --bs-btn-color: #000000;
  --bs-btn-bg: #7beddf;
  --bs-btn-border-color: #7beddf;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #8FF0E4;
  --bs-btn-hover-border-color: #88EFE2;
  --bs-btn-focus-shadow-rgb: 18,36,33;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #95F1E5;
  --bs-btn-active-border-color: #88EFE2;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #7beddf;
  --bs-btn-disabled-border-color: #7beddf;
}

.btn:hover {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
}

.button1 {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.btn-outline-dark {
  color: var(--bs-btn-color);
  background-color: var(--bs-btn-bg);
  border-color: var(--bs-btn-border-color);
  font-size: medium;
  color: var(--bs-btn-active-bg);
}

.btn-outline-dark:hover {
  color:  #ef88e3;
  background-color:#ef88e3;
  border-color: #eda5e5;
  font-size: medium;
  color: var(--bs-btn-active-bg);
}

/* Custom CSS to hide and show the additional content */
.hidden {
  display: none;
}

.shown {
  display: block;
}

.custom-btn-size {
  padding: 2px 6px; /* Adjust the padding as desired */
}
